.row
  .col-sm-5
    .general-img-wrap
      = image_tag latest_book.images[0].image_url.file.url,
                  class: 'img-shadow general-thumbnail-img', alt: "design-book"
  .col-sm-7
    .mb-60
      %h1= latest_book.title
      %p.lead= latest_book.decorate.short_description
      %p.lead.small= latest_book.decorate.authors_names
      .general-align
        = button_to t('.buy_now'),
                    line_items_path(book_id: latest_book.id, quantity: 1),
                    class: 'btn btn-primary'
