%p= t('.hello', email: @resource.email)

%p= t('.someone_requested_a_link')

%p= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token)

%p= t('.ignore_if_did_not_request')
%p= t('.password_wont_change_until_access_link')
